.hamburger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    display: none;
    
    span {
        display: block;
        width: 80%;
        height: 2px;
        background-color: $orangeColor;
        position: absolute;        
        &:first-child {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            transition: all .4s ease;
        }
        &:nth-child(2) {
            top: 60%;
            left: 0;
            transform: translateY(-50%);
            transition: all .2s ease;
        }
        &:last-child {
            top: 70%;
            left: 0;
            transform: translateY(-50%);
            transition: all .4s ease;
        }
    }
}