.modal {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 4;
    transition: all .4s ease;
    &__dialog {
        max-width: 600px;
        margin: 50px auto;
    }
    &__content {
        
        min-height: 300px;
        
        background-color: $whiteColor;
        padding: 20px 40px;
        position: relative;
        transform: scale(0);
        transition: all .6s ease;
        &-top {
            display: flex;
            align-items: start;
            justify-content: end;
        }
    }
    &__title {
        font-weight: 700;
        font-size: 30px;
        line-height: 35px;
        color: $blackColor;
        margin-bottom: 20px;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        color: $blackWhiteColor;
        margin-bottom: 20px;
    }
    &__close {
        position: relative;
        width: 50px;
        height: 50px;
        cursor: pointer;
        top: 0;
        right: 0;
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 80%;
            width: 30px;
            height: 2px;
            background-color: $grayColor;
            transform: translate(-50% - 50%) rotate(45deg);
            transition: all .4s ease;
        }
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 80%;
            width: 30px;
            height: 2px;
            background-color: $grayColor;
            transform: translate(-50% - 50%) rotate(-45deg);
            transition: all .4s ease;
        }
        &:hover {
            &::after, &::before {
                background-color: $orangeColor;
            }
        }
    }
    &__label {
        display: block;
        width: 100%;
        height: 60px;
        margin-bottom: 30px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
    &__input {
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        border-bottom: 1px solid $grayColor;
        padding: 10px;
        margin-bottom: 30px;
       &:focus {
        outline: 1px solid #fff;
       }
    }
    &__textarea {
        display: block;
        width: 100%;
        height: 100px;
        padding: 10px;
        margin-top: 20px;
        resize: none;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid $grayColor;
        &:focus {
            outline: 1px solid #fff;
        }
    }
    &__btn {
        width: 100%;
    }
    &.show {
        .modal__content {
            transform: scale(1);
        }
    }
}